/*--------------estilos del header------------------------*/

/*Estylo que modifica el margen de header*/
#cabNavegacion{
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    /*background-color:#3fbbc0;*/
    /*background-color: #23b7e5;*/
   background-color: #c8e5e3;
}
/*Estylo que permite centrar la imagen del logo*/
.imgLogo{
    padding: 10px 10px;
}
/*estylo que prmite  centrar la imagen del usuario*/
.nav > li > a.imgUser{
    padding-top: 5px;
    padding-bottom: 5px; 
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin-left: 0px;
}

#iconHome{
    font-size:28px
}

#linkInicio{
    padding-top: 6px;
    padding-bottom: 7px; 
}

#iconMenuLateral{
    padding: 7px 5px;
    font-size: 28px;
}

#footerPage{
    background-color: #c8e5e3;
}

#menuPanel{
    border: 0;
}


/*-------------------Estilos para el menu lateral-----------------------------*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/
#menuLateral{
    /*background-color:#006cdc;    */
    background-color: #337ab7;
    padding-left: 1px;
    padding-right: 1px
}

#menuPanel div{
    color:#ffffff;
     background-color: #337ab7;
     border: 0;
     border-radius: 0;
}

#menuPanel #accordion .panel{
    margin-top: 0px;
}
#menuPanel #accordion .panel .panel-heading{
    padding: 10px 5px;
}

#menuPanel #accordion .panel div ul li a{
    color: #ffffff;
}

#menuPanel div:hover{
     background-color: #4285f4;
}

#menuPanel div ul li{
     background-color: #337ab7;
     border: 0;
     border-radius: 0;
}

#menuPanel div ul li:hover{
     background-color: #4285f4;
}



/*Estilos de ismael*/

body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.waitgif {
	position: absolute;
    bottom: 40%;
    right: 40%;
	z-index: 1000;

	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

#Tabla-Carrito tr > *:nth-child(4){
    display: none;
}

#Tabla-Carrito tr > *:nth-child(5){
    display: none;
}


#Tabla-Carrito.hideImg tr > *:nth-child(1){
    display: none;
}

#Tabla-Carrito.showDescuento tr > *:nth-child(4){
    display: block;
}

#Tabla-Carrito.showPCDescuento tr > *:nth-child(5){
    display: block;
}

.carrito{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif !important;
}
.cabecera-carrito{
    font-size: 16px;
}

.cuerpo-carrito{

}
.link-carrito{
    font-weight: lighter !important;
    float: right;
}
.link-Img{
    font-weight: lighter !important;
    float: left;
}

.link-Detalle{
    font-weight: lighter !important;
}

.imagen-carrito{
    width: 80px;
    height:80px;
    max-width: max-content !important;
}

.div-descripcion-carrito{
    padding-left: 6%;
}

.descripcion-carrito{
    color: #337ab7 !important;
    font-size: 20px;
}

.descripcion-renglon-carrito{
    max-width: 500px;
}

.lana-carrito{
    color: #a94442 !important;
}

.cantidad-carrito{

}

.titulo-pagina{

}

.boton-flotante{
    float: right;
    /* margin-right: -34.5%;
    margin-top: -22%; */
    font-size: 23px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #CC8D19;
    color: black;
    width: 130px;
    height: 80px;
    border-radius: 4px;
}

.contenido-flotante{
    float: right;

}

.resumen-flotante{
    margin-right: -35%;
    margin-top: -45%;
}

.popover {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
  }

  .input-descuento{
    margin-left: 70px;
  }