{{define "footer_layout"}}

<div class="navbar navbar-default footer navbar-fixed-bottom  text-center" id="footerPage" >
  <span class="row">&copy; Copyright 2017 Korê Ingeniaria  -Todos los derechos reservados.
      <b>[Demo Control de Errores -- Korê v0.2]</b>
      <div class="pull-right">
      <a href="#" data-toggle="modal" data-target="#ProblemLayout"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><strong>  Reportar Problemas  </strong></a> 
      </div>
  </span>
</div>
    
       <!-- Modal De Problemas -->
    <!-- ####################################################################################################################### -->
    <div class="modal fade" id="ProblemLayout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reporte de Problemas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="form-control-label">¿Qué tipo de problema ocurrió?</label>
              <select id="LugarProblema" name="LugarProblema" class="form-control selectpicker">
                {{.Tipos}}
              </select> 
            </div>
            <div class="form-group" id="Especificacion" style="display:none;">
              <label for="recipient-name" class="form-control-label">Especifique qué OTRO tipo de error ocurrió</label>
              <input type="text" class="form-control" id="EspecificacionProblema">
            </div>
            <div class="form-group">
              <label for="message-text" class="form-control-label">Cuéntanos ¿Qué Pasó?</label>
              <textarea class="form-control" id="ContenidoProblema" rows="4" placeholder="Explica brevemente qué fue lo que pasó y los pasos que nos permitan reproducir el problema..." ></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="CerrarModalProblemas">Cancelar</button>
          <button type="button" class="btn btn-primary" onclick="ReportarProblema('{{.Modulo}}')">Enviar Reporte</button>
        </div>
          </div>
      </div>
      </div>
      <!-- ####################################################################################################################### -->
      <!-- Modal De Problemas -->
  
  
      <input type="hidden" value="objeto" id="objeto" readonly>
      
     
   
{{end}}
