{{define "menu_layout"}}        
        <div class="col-md-2 text-left" id="menuLateral">
            <br/>
                    <div class="bs-example" id="menuPanel">
                        <div class="panel-group" id="accordion">
    		            </div>
		        </div>
        </div>
        <!-- /#sidebar-wrapper -->
{{end}}
