
<!-- ############################## <  VISTA ALTA  > #####################################-->
<!-- ############################## <  ProgramadorAlta.html  > #####################################-->
<!-- ############################## <  VISTA GENERAL > #####################################-->


<!-- INICIO PAGINA -->
<!DOCTYPE html> 
<html lang="es">

<!-- INICIO CABECERA ################################################################################-->
<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content ="IE=edge">		
        <title></title>
		<link rel="icon" type="image/png" href="../img/k.ico" />
<!--#################### ESTILOS GENERALES #########################-->
		{{template "styles_layout"}}
<!--#################### TUS ESTILOS ###############################-->		
<!--#################### SCRIPTS GENERALES #########################-->
		{{template "scripts_layout"}}
<!--#################### TUS SCRIPTS #########################-->	

<!--#################### CABECERA #########################-->
        {{template "header_layout" .SSesion }}

</head>
<!-- FINAL CABECERA ###################################################################################-->

<!-- INICIO BODY -->
<body>
	
 {{template "menu_layout" }}

	<div class="col-md-10"  style="padding-bottom: 5%;" id="SeccionCuerpo">
		
		{{if .SEstado}}
			{{if .SMsj}}
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}	
			
		{{else}}
			
			{{if .SMsj}}
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}
		{{end}}	

			<h1>Ejemplo</h1>
			<form id="Form_Alta_Ejemplo" class="form-horizontal" method="POST">


						<div class="form-group">
							<label class="col-sm-4 control-label" for="Campo1">Campo1:</label>
							{{if .Ejemplo.ECampo1Ejemplo.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="Campo1" id="Campo1" class="form-control" value="{{.Ejemplo.ECampo1Ejemplo.Campo1}}" aria-required="true" aria-describedby="Nombre-error" aria-invalid="true">
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Campo1-error" class="error help-block">{{.Ejemplo.ECampo1Ejemplo.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="text" name="Campo1" id="Campo1" class="form-control" value="{{.Ejemplo.ECampo1Ejemplo.Campo1}}">
								</div>  
							{{end}}
						</div>
					
						<div class="form-group">
							<label class="col-sm-4 control-label" for="Campo2">Campo2:</label>
							{{if .Ejemplo.ECampo2Ejemplo.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="email" name="Campo2" id="Campo2" class="form-control" value="{{.Ejemplo.ECampo2Ejemplo.Campo2}}" aria-required="true" aria-describedby="Correo-error" aria-invalid="true">
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Campo2-error" class="error help-block">{{.Ejemplo.ECampo2Ejemplo.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="email" name="Campo2" id="Campo2" class="form-control" value="{{.Ejemplo.ECampo2Ejemplo.Campo2}}">
								</div>  
							{{end}}
						</div>
					
								
						<div class="form-group">
							<div class="col-md-9 text-right">								
								<button type="button" class="btn btn-primary btn-lg">BOTON DE FIN DE PLANTILLA</button>
							</div>
						</div>
		</form>
	</div>
</body>

<footer>
	{{template "footer_layout" .SReportes}}
</footer>

<!-- FIN BODY -->

<!-- FIN PAGINA -->
</html>
